.tn-size {
    width: 275px;
    height: 235px;
}

.descriptionfont {
    font-family: Avenir-Light;
    font-size: 18px;
    color: #666666;
    letter-spacing: -0.02px;
    text-decoration: none;    
}
/* 
img:hover {
    box-shadow: 0 14px 28px -3px rgba(170,167,167,0.63), inset 0 1px 3px 0 rgba(0,0,0,0.50)!important;
    transform: translate(0, -10px);
} */