.card {
  background: #fff;
  border-radius: 2px;
  width: 325px;
  height: 325px;
  margin: 1rem;
  position: relative;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  float: left;
}

.card > .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
}
.card > .img-container > img {
  width: 100%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

