.sidenavText {
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.04px;
    display: block;
    text-align: left;
    padding-top: 15px;
    padding-left: 25px;
    height: 50px;
    width: 100%;
}

.sidenavText:hover {
    color: white !important;
}

.sidebar-active {
    height: 50px;
    width: 100%;
    background: #1E263D;
    color: white !important;
}